@import "../../../global-styles/global-style-variables.scss";

.toolbar {
  background-color: #8a2a75;
  color: white;
  height: var($toolbarHeight);
}

.purpleLogoContainer {
  height: var($toolbarHeight);
  width: $sideBarWidthExpanded !important;
  background-color: #884279 !important;
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0px 16px 0 0;
}

.homePurple {
  padding-left: 1.2rem;
  font-size: x-large;
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}

.versionText {
  font-size: medium;
  padding-right: 0.5rem;
}
