<div class="orderRelationContainer">
  <div class="titleContainer">
    <mat-icon>input</mat-icon>
    <h1>Inputs</h1>
  </div>
  <div
    class="uploaderContainer"
    fxLayout="column"
    fxLayoutAlign="center center"   
  >
    <!-- File Uploader -->
    <mat-card class="uploaderCard">
      <mat-card-content class="uploadButtonContainer">
        <a class="fancy" (click)="fileInput.click()">
          <span class="top-key"></span>
          <span class="text">Upload File</span>
          <span class="bottom-key-1"></span>
          <span class="bottom-key-2"></span>
        </a>
        <input
          hidden
          (change)="onFileSelected($event)"
          #fileInput
          accept=".bpmn,.pnml,.xml"
          type="file"
        />
        <span *ngIf="singleFile !== null" class="fileName">
          {{ singleFile.name | slice : 0 : 30 }}
        </span>
      </mat-card-content>
    </mat-card>

    <!-- Slider -->
    <mat-card class="sliderCard">
      <mat-card-content>
        <h3><b>Percentage of completeness:</b></h3>
        <mat-slider
          min="0"
          max="100"
          showTickMarks
          discrete
          [color]="'primary'"
          [(ngModel)]="sliderValue"
          [displayWith]="formatLabel"
          class="slider"
        >
          
          <input matSliderThumb />
        </mat-slider>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="titleContainer">
    <mat-icon>task</mat-icon>
    <h1>Actions</h1>
  </div>
  <div
    class="uploaderContainer"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <mat-card class="uploaderCard">
      <mat-card-content class="uploadButtonContainer">
        <button class="button">
          <span class="button-content">Generate Log</span>
        </button>
      </mat-card-content>
    </mat-card>
    <mat-card class="uploaderCard">
      <mat-card-content class="uploadButtonContainer">
        <button class="button">
          <span class="button-content">Download Event Log</span>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
