
  <div class="purplePageContainer">
    <div class="welcomeDiv">
      <h1 class="welcomeTitle">Welcome to PURPLE 2.0!</h1>
      PURPLE (PURpos Guided Log gEnerator) is a progressive web app written in
      TypeScript using the development framework Angular, connected to a Python
      backend that performs the core operations of the program. This permits to
      use PURPLE from any operating system via web browser. PURPLE generates
      event log tuned for a specific mining-purpose by simulating a business
      model. For further information please check the links below.
    </div>
  </div>
