<div class="alignmentCostContainer">
  <h1 class="title">CUSTOM NOISE</h1>
  <div class="titleContainer">
    <mat-icon>input</mat-icon>
    <h1>Inputs</h1>
  </div>
  <div
    class="uploaderContainer container1"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <!-- File Uploader -->
    <mat-card class="sliderCard slCard1">
      <div (fileDropped)="onFileDrop($event)" appDnd>
        <mat-card-content class="uploadButtonContainer">
          <a class="fancy" (click)="fileInput.click()">
            <span class="top-key"></span>
            <span class="text">Upload File</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
          </a>
          <input
            hidden
            (change)="onFileSelected($event)"
            #fileInput
            accept=".bpmn,.pnml,.xml"
            type="file"
          />
          <span *ngIf="singleFile !== null" class="fileName">
            {{ singleFile.name | slice : 0 : 30 }}
          </span>
        </mat-card-content>
      </div>
    </mat-card>

    <mat-card class="sliderCard slCard2">
      <mat-card-content>
        <h3><b>Traces Number:</b></h3>
        <input
          class="input"
          name="text"
          placeholder="0"
          type="search"
          [(ngModel)]="tracesNr"
        />
      </mat-card-content>
    </mat-card>
  </div>
  <div class="titleContainer">
    <h1>Noise Percentages:</h1>
  </div>
  <div
    class="uploaderContainer container1"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <mat-card class="sliderCard slCard1">
      <mat-card-content>
        <h3><b>Missing head (%):</b></h3>
        <input
          class="input"
          name="number"
          placeholder="0"
          type="search"
          [(ngModel)]="missingHead"
        />
      </mat-card-content>
    </mat-card>
    <mat-card class="sliderCard slCard2">
      <mat-card-content>
        <h3><b>Missing tail (%):</b></h3>
        <input
          class="input"
          name="number"
          placeholder="0"
          type="search"
          [(ngModel)]="missingTail"
        />
      </mat-card-content>
    </mat-card>
    <mat-card class="sliderCard slCard3">
      <mat-card-content>
        <h3><b>Missing episode (%):</b></h3>
        <input
          class="input"
          name="number"
          placeholder="0"
          type="search"
          [(ngModel)]="missingEpisode"
        />
      </mat-card-content>
    </mat-card>
    <mat-card class="sliderCard slCard4">
      <mat-card-content>
        <h3><b>Order perturbation (%):</b></h3>
        <input
          class="input"
          name="number"
          placeholder="0"
          type="search"
          [(ngModel)]="orderPerturbation"
        />
      </mat-card-content>
    </mat-card>
    <mat-card class="sliderCard slCard5">
      <mat-card-content>
        <h3><b>Alien activities (%):</b></h3>
        <input
          class="input"
          name="number"
          placeholder="0"
          type="search"
          [(ngModel)]="alienActivities"
        />
      </mat-card-content>
    </mat-card>
  </div>
  <div class="titleContainer">
    <mat-icon>task</mat-icon>
    <h1>Actions</h1>
  </div>
  <div
    class="uploaderContainer"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <button class="button" (click)="generateLog()">
      <span class="button-content">Generate Log</span>
    </button>
    <button class="button" (click)="downloadLog()">
      <span class="button-content">Download Event Log</span>
    </button>
  </div>
</div>
