:host {
  display: block;
}

.mat-dialog-actions {
  display: flex !important;
  justify-content: space-between !important;
}

.left-actions {
  display: flex !important;
}

.right-actions {
  display: flex !important;
}

.table-container {
  height: 80vh;
  width: 80vw;
  overflow-y: auto;
}

.even-case {
  background: #a0689485 !important;
}
